<div layout-padding>
  <h1>Админка &gt; Пользователи</h1>
</div>

<md-list layout-margin>
  <md-list-item ng-repeat="account in accounts" md-whiteframe="4" layout-margin>
    <p flex="40">{{account.user_login}}</p>
    <p flex="40">{{account.email}}</p>
    <p flex="10">
    	<md-switch ng-model="account.active" aria-label="Is active" ng-disabled="true"></md-switch>
    </p>
    
    <p flex="10">
      <md-button class="md-icon-button" ng-href="auth/account/{{account.id}}/edit" aria-label="Edit">
        <md-icon md-svg-icon="edit_item"/>
        <md-tooltip>
          Редактировать
        </md-tooltip>
      </md-button>
    </p>
  </md-list-item>
</md-list>
