<md-input-container class="md-block" flex-gt-sm>
  <label>Отправитель</label>
  <md-select ng-model="transfer.sender" ng-model-options="{trackBy: '$value.id'}" placeholder="Отправитель">
    <md-option ng-repeat="participant in evento.participants" ng-value="participant" ng-selected="$first">
      {{participant.name}}
    </md-option>
  </md-select>
</md-input-container>

<div layout="column" flex>
    <label class="md-caption">Дата</label>
    <md-datepicker ng-model="transfer.transferdate" md-placeholder="Дата проводки"></md-datepicker>
</div>

<md-input-container class="md-block" flex-gt-sm>
  <label>Сумма</label>
  <input type="number" required min="0" ng-model="transfer.amount" />
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>Описание</label>
  <input type="text" ng-model="transfer.description" />
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>Получатель</label>
  <md-select ng-model="transfer.receiver" ng-model-options="{trackBy: '$value.id'}" placeholder="Получатель">
    <md-option ng-repeat="participant in evento.participants" ng-value="participant" ng-selected="$first">
      {{participant.name}}
    </md-option>
  </md-select>
</md-input-container>

<div layout-gt-sm="row">
  <md-button type="submit" aria-label="Save" class="md-primary">Сохранить</md-button>
  <md-button class="md-primary" aria-label="Cancel" ng-click="navigate('events/{{evento.id}}')">Назад</md-button>
</div>
