<md-table-container hide-xs>
  <table md-table ng-model="selected" md-progress="promise">
    <thead md-head md-order="query.order" md-on-reorder="onReorder">
      <tr md-row>
        <th md-column>Отправитель</th>
        <th md-column>Получатель</th>
        <th md-column md-numeric>Сумма</th>
        <th md-column>Дата</th>
        <th md-column>Описание</th>
        <th md-column></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="transfer in transfers">
        <td md-cell>{{transfer.sender.name}}</td>
        <td md-cell>{{transfer.receiver.name}}</td>
        <td md-cell>{{transfer.amount}}</td>
        <td md-cell>{{transfer.transferdate | date:"dd.MM.yyyy"}}</td>
        <td md-cell>{{transfer.description}}</td>
        <td md-cell>
          <div layout="row">
            <md-button class="md-icon-button" ng-click="navigateToEditTransfer(transfer)" aria-label="Edit">
              <md-icon md-svg-icon="edit_item"/>
              <md-tooltip>
                Редактировать
              </md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-href="events/{{eventId}}/transfers/{{transfer.id}}/createCopy" aria-label="Copy">
              <md-icon md-svg-icon="copy_item"/>
              <md-tooltip>
                Создать копию
              </md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="confirmDelete($event, transfer)" aria-label="Delete">
              <md-icon md-svg-icon="delete_item"/>
              <md-tooltip>
                Удалить
              </md-tooltip>
            </md-button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<div hide-gt-xs layout="column">
    <md-card ng-repeat="transfer in transfers">
      <md-card-content>
        <h3 class="md-headline truncated-text">{{transfer.description}}</h3>    
        <h4 class="md-subhead truncated-text">{{transfer.transferdate | date:"dd.MM.yyyy"}}</h4>    
        <p class="truncated-text">{{transfer.sender.name}}</p>
        <p class="truncated-text">{{transfer.receiver.name}}</p>
        <p>{{transfer.amount | number:2}}</p>    
      </md-card-content>
      
      <md-card-actions>
        <md-card-icon-actions>
          <md-button class="md-icon-button" ng-click="navigateToEditTransfer(transfer)" aria-label="Edit">
            <md-icon md-svg-icon="edit_item"/>
            <md-tooltip>
              Редактировать
            </md-tooltip>
          </md-button>
          <md-button class="md-icon-button" ng-href="events/{{eventId}}/transfers/{{transfer.id}}/createCopy" aria-label="Copy">
            <md-icon md-svg-icon="copy_item"/>
            <md-tooltip>
              Создать копию
            </md-tooltip>
          </md-button>
          <md-button class="md-icon-button" ng-click="confirmDelete($event, transfer)" aria-label="Delete">
            <md-icon md-svg-icon="delete_item"/>
            <md-tooltip>
              Удалить
            </md-tooltip>
          </md-button>
        </md-card-icon-actions>
      </md-card-actions>
    </md-card>
</div>

<div class="md-toolbar-tools">
  <span flex></span>
  <md-button class="md-fab md-primary" aria-label="Add" ng-href="events/{{eventId}}/transfers/new">
    <md-icon md-svg-icon="add_item24">
    <md-tooltip md-direction="left">
      Добавить
    </md-tooltip>
  </md-button>
</div>
<!-- 
<md-list layout-margin>
  <md-list-item ng-repeat="transfer in transfers" md-whiteframe="4" layout-margin>
      <p flex="20">{{transfer.sender.name}}</p>
      <p flex="20">{{transfer.receiver.name}}</p>
      <p flex="10">{{transfer.amount | number:2}}</p>
      <p flex="10">{{transfer.transferdate | date:"dd.MM.yyyy"}}</p>
      <p flex="25">{{transfer.description}}</p>

      <p flex="5">
        <md-button class="md-icon-button" ng-click="navigateToEditTransfer(transfer)" aria-label="Edit">
          <md-icon md-svg-icon="edit_item"/>
          <md-tooltip>
            Редактировать
          </md-tooltip>
        </md-button>
      </p>

      <p flex="5">
        <md-button class="md-icon-button" ng-href="events/{{eventId}}/transfers/{{transfer.id}}/createCopy" aria-label="Copy">
          <md-icon md-svg-icon="copy_item"/>
          <md-tooltip>
            Создать копию
          </md-tooltip>
        </md-button>
      </p>

      <p flex="5">
        <md-button class="md-icon-button" ng-click="confirmDelete($event, transfer)" aria-label="Delete">
          <md-icon md-svg-icon="delete_item"/>
          <md-tooltip>
            Удалить
          </md-tooltip>
        </md-button>
      </p>
  </md-list-item>
</md-list>

<div class="md-toolbar-tools">
  <span flex></span>
  <md-button class="md-fab md-primary" aria-label="Add" ng-href="events/{{eventId}}/transfers/new">
    <md-icon md-svg-icon="add_item24">
    <md-tooltip md-direction="left">
      Добавить
    </md-tooltip>
  </md-button>
</div>

<script type="text/ng-template" id="confirmDeleteTransfer.html">
  <div class="modal-header">
      <h4>Подтверждение</h4>
  </div>
  <div class="modal-body">
      <p>Вы уверены, что хотите удалить проводку {{transfer.description}}?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="confimDelete(transfer)">Удалить</button>
    <button class="btn" ng-click="cancelDelete()">Отмена</button>
  </div>
</script>
 -->