<md-input-container class="md-block" flex-gt-sm>
  <label>Логин</label>
  <input type="text" 
          ng-model="account.user_login" 
          ng-readonly="Edit" 
          name="login" 
          class="form-control" 
          ng-minlength="4" 
          id="login" 
          ng-pattern="/^[A-Za-z0-9_-]{4,15}$/"
          ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
          user-validation="{{Creation}}"
          required >
    <div ng-messages="form.login.$error" multiple>
      <div ng-message="required">
        Требуется логин
      </div>
      <div ng-message="minlength">
        Минимальна длинна 4 символа
      </div>
      <div ng-message="pattern">
        Не соответствует шаблону
      </div>
      <div ng-message="userValidation">
        Логин занят
      </div>
    </div>
  </input>
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>Пароль</label>
  <input type="password" ng-model="account.user_password" name="password" id="password" ng-required="Creation">
  <div ng-messages="form.password.$error">
    <div ng-message="required">
      Введите пароль
    </div>
  </div>
</md-input-container>
<md-input-container class="md-block" flex-gt-sm>
  <label>Подтверждение</label>
  <input type="password" id="passConfirmation" name="passConfirmation" ng-model="account.password_confirmation" pw-check="{{account.user_password}}" ng-required='Creation'>
  <div ng-messages="form.passConfirmation.$error" multiple>
    <div ng-message="pwmatch">
      Пароли не совпадают
    </div>
    <div ng-message="required">
      Требуется подтверждение пароля
    </div>
  </div>
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>Email</label>
  <input type="email" required
             email-validation="{{Creation}}" ng-model="account.email" class="form-control" name="email" id="email"/>
    <div ng-messages="form.email.$error" multiple>
      <div ng-message="email">
        Не валидный email
      </div>
      <div ng-message="required">
        Требуется email
      </div>
      <div ng-message="emailValidation">
        Email занят
      </div>
    </div>
  </input>
</md-input-container>

<md-switch class="md-primary" ng-model="account.active" aria-label="Is active" ng-show="!Creation&&IsAdmin">
  Активен
</md-switch>

<md-input-container class="md-block" flex-gt-sm ng-show="!Creation&&IsAdmin">
  <label>Роли</label>
  <md-select multiple ng-model="account.roles" ng-model-options="{trackBy: '$value.id'}" placeholder="Роли">
    <md-option ng-repeat="role in roles" ng-value="role">{{role.name}}</md-option>
  </md-select>
</md-input-container>