<md-content layout-padding>
	<h1>Редактирование аккаунта: {{account.user_login}}</h1>
	<form name="form" class="form-horizontal" role="form" ng-submit="form.$valid && update()">
	    <div ng-include="formUrl" class="form-group"></div>
	    <md-button type="submit" aria-label="Save" class="md-primary">Сохранить</md-button>
	</form>
</md-content>