<md-content layout-padding>
	<h1>Регистрация</h1>
	<form name="form" class="form-horizontal" role="form" ng-submit="form.$valid && signup()">
	    <div ng-include="formUrl" class="form-group"></div>
	    <md-button type="submit" aria-label="Sign up" class="md-primary">Регистрировать</md-button>
	</form>
</md-content>