<md-content layout-padding>
	<form name="changePasswordForm" role="form" class="form-horizontal" ng-submit="changePasswordForm.$valid && changePassword()">
	<!-- 	<div class="form-group">
		    <label for="password" class="control-label col-sm-2">Пароль: </label>
		    <div class="col-sm-4">
		      <input type="password" ng-model="recoveryCredentials.password" class="form-control" id="password" placeholder="Пароль" name="password" ng-required='Creation' />
		    </div>
		</div>
		<div class="form-group">
		    <label for="passConfirmation" class="control-label col-sm-2">Подтверждение: </label>
		    <div class="col-sm-4">
		      <input type="password" ng-model="recoveryCredentials.password_confirmation" class="form-control" id="passConfirmation" name="passConfirmation" placeholder="Подтверждение" pw-check="password"/>
		      <div ng-show="form.$submitted || form.email.$touched">
		        <span ng-show="form.passConfirmation.$error.required">Требуется подтверждение пароля</span>
		        <span ng-show="form.passConfirmation.$error.pwmatch">Пароли не совпадают</span>
		      </div>
		    </div>
		</div>
		<button type="submit" class="btn btn-primary">Сохранить пароль</button> -->

		<md-input-container class="md-block" flex-gt-sm>
			<label>Пароль</label>
			<input type="password" ng-model="recoveryCredentials.password" name="password" id="password" ng-required="1">
			<div ng-messages="changePasswordForm.password.$error">
				<div ng-message="required">
					Введите пароль
				</div>
			</div>
		</md-input-container>
		<md-input-container class="md-block" flex-gt-sm>
			<label>Подтверждение</label>
			<input type="password" id="passConfirmation" name="passConfirmation" ng-required="1" ng-model="recoveryCredentials.password_confirmation" pw-check="password">
			<div ng-messages="changePasswordForm.passConfirmation.$error" multiple>
				<div ng-message="required">
					Требуется подтверждение пароля
				</div>
				<div ng-message="pwmatch">
					Пароли не совпадают
				</div>
			</div>
		</md-input-container>

		<md-button type="submit" aria-label="Save password" class="md-primary">Сохранить пароль</md-button>
	</form>
</md-content>