<md-content layout-padding>
	<form role="form" ng-submit="resetPassword()">
		<md-input-container class="md-block" flex-gt-sm>
			<label>Email</label>
			<input type="text" ng-model="email">
		</md-input-container>

		<md-button type="submit" aria-label="Reset password" class="md-primary">Сбросить пароль</md-button>
	</form>	
</md-content>