<md-content layout-padding>

	<form role="form" ng-submit="login(credentials)">
		<md-input-container class="md-block" flex-gt-sm>
			<label>Пользователь</label>
			<input type="text" ng-model="credentials.username">
		</md-input-container>

		<md-input-container class="md-block" flex-gt-sm>
			<label>Пароль</label>
			<input type="password" ng-model="credentials.password">
		</md-input-container>

		<div layout-gt-sm="row">
			<md-button type="submit" aria-label="Login" class="md-primary">Войти</md-button>
			<md-button class="md-primary" aria-label="Sing up" ng-click="navigate('auth/registration')">Зарегистрироваться</md-button>
			<md-button class="md-primary" aria-label="Remember password" ng-click="navigate('auth/resetpassword')">Забыл пароль</md-button>
		</div>
	</form>
</md-content>