<md-input-container class="md-block" flex-gt-sm>
  <label>Покупатель</label>
  <md-select ng-model="purchase.buyer" ng-model-options="{trackBy: '$value.id'}" placeholder="Покупатель">
    <md-option ng-repeat="participant in evento.participants" ng-value="participant" ng-selected="$first">
      {{participant.name}}
    </md-option>
  </md-select>
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>Сумма</label>
  <input type="number" required min="0" step="0.01" ng-model="purchase.amount" />
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <label>Описание</label>
  <input type="text" ng-model="purchase.description" />
</md-input-container>

<div layout="column" flex>
    <label class="md-caption">Дата</label>
    <md-datepicker ng-model="purchase.date" md-placeholder="Дата покупки"></md-datepicker>
</div>

<md-input-container class="md-block" flex-gt-sm>
  <label>Потребители</label>
  <md-select multiple ng-model="purchase.consumers" ng-model-options="{trackBy: '$value.id'}" placeholder="Потребители">
    <md-option ng-repeat="participant in evento.participants" ng-value="participant">{{participant.name}}</md-option>
  </md-select>
</md-input-container>

<div layout-gt-sm="row">
  <md-button type="submit" aria-label="Save" class="md-primary">Сохранить</md-button>
  <md-button class="md-primary" aria-label="Cancel" ng-click="navigate('events/{{evento.id}}')">Назад</md-button>
</div>
