<md-table-container hide-xs>
  <table md-table ng-model="selected" md-progress="promise">
    <thead md-head md-order="query.order" md-on-reorder="onReorder">
      <tr md-row>
        <th md-column>Покупатель</th>
        <th md-column md-numeric>Сумма</th>
        <th md-column>Дата</th>
        <th md-column>Описание</th>
        <th md-column>Участники</th>
        <th md-column></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="purchase in purchases">
        <td md-cell>{{purchase.buyer.name}}</td>
        <td md-cell>{{purchase.amount | number:2}}</td>
        <td md-cell>{{purchase.date | date:"dd.MM.yyyy"}}</td>
        <td md-cell>{{purchase.description}}</td>
        <td md-cell>
          <span  ng-repeat="consumer in purchase.consumers">{{consumer.name}}{{$last ? '' : ', '}}</span>
        </td>
        <td md-cell>
          <div layout="row">
            <md-button class="md-icon-button" ng-click="navigateToEditPurchase(purchase)" aria-label="Edit">
              <md-icon md-svg-icon="edit_item"/>
              <md-tooltip>
                Редактировать
              </md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-href="events/{{eventId}}/purchases/{{purchase.id}}/createCopy" aria-label="Copy">
              <md-icon md-svg-icon="copy_item"/>
              <md-tooltip>
                Создать копию
              </md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="confirmDelete($event, purchase)" aria-label="Delete">
              <md-icon md-svg-icon="delete_item"/>
              <md-tooltip>
                Удалить
              </md-tooltip>
            </md-button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<div hide-gt-xs layout="column">
    <md-card ng-repeat="purchase in purchases">
      <md-card-content>
        <h3 class="md-headline truncated-text">{{purchase.description}}</h3>    
        <h4 class="md-subhead truncated-text">{{purchase.date | date:"dd.MM.yyyy"}}</h4>    
        <p class="truncated-text">{{purchase.buyer.name}}</p>
        <p>{{purchase.amount | number:2}}</p> 
        <md-chips ng-model="purchase.consumers" readonly="true">
            <md-chip-template>
              <strong>{{$chip.name}}</strong>
            </md-chip-template>
          </md-chips>
      </md-card-content>

      <md-card-actions>
        <md-card-icon-actions>
          <md-button class="md-icon-button" ng-click="navigateToEditPurchase(purchase)" aria-label="Edit">
            <md-icon md-svg-icon="edit_item"/>
            <md-tooltip>
              Редактировать
            </md-tooltip>
          </md-button>
          <md-button class="md-icon-button" ng-href="events/{{eventId}}/purchases/{{purchase.id}}/createCopy" aria-label="Copy">
            <md-icon md-svg-icon="copy_item"/>
            <md-tooltip>
              Создать копию
            </md-tooltip>
          </md-button>
          <md-button class="md-icon-button" ng-click="confirmDelete($event, purchase)" aria-label="Delete">
            <md-icon md-svg-icon="delete_item"/>
            <md-tooltip>
              Удалить
            </md-tooltip>
          </md-button>
        </md-card-icon-actions>
      </md-card-actions>
    </md-card>
</div>

<div class="md-toolbar-tools">
  <span flex></span>
  <md-button class="md-fab md-primary" aria-label="Add" ng-href="events/{{eventId}}/purchases/new">
    <md-icon md-svg-icon="add_item24">
    <md-tooltip md-direction="left">
      Добавить
    </md-tooltip>
  </md-button>
</div>
