<!DOCTYPE html>
<html lang="ru" ng-app="semki.DutchTreat" class="no-js">
<head>
  <base href="/dutch-treat/app/">
  <meta charset="utf-8">
  <title>Складщина</title>
</head>

<body ng-controller="MainCtrl" ng-cloak layout="row" id="app-container">

  <md-sidenav
      class="site-sidenav md-sidenav-left md-whiteframe-z2"
      md-component-id="main-menu"
      ng-click="toggleMenu()" aria-label="Toggle menu"
      md-is-locked-open="$mdMedia('gt-md')"
      md-whiteframe="4"
      >
    <md-content>
      <md-toolbar class="md-whiteframe-z1" md-scroll-shrink>
        <div class="md-toolbar-tools">
          <h3>
          <md-button ng-click="navigateToEventosList()">
            События
          </md-button>
          </h3>
        </div>
      </md-toolbar>

      <md-list ng-controller="EventosCtrl">
        <md-list-item ng-repeat="evento in eventos" ng-click="navigateToEvento(evento)">
            <p>
              {{evento.name}}
            </p>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>
  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2" ng-cloak>
    <md-toolbar layout="row" class="md-whiteframe-z1">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleMenu()" aria-label="Toggle menu" hide-gt-md>
          <md-icon md-svg-icon="menu" ></md-icon>
        </md-button>
        <h3>Складщина</h3>
        <span flex></span>

        <md-button class="md-icon-button" ng-show="IsAdmin" ng-href="admin" aria-label="Admin page">
          <md-icon md-svg-icon="settings" ></md-icon>
        </md-button>

        <md-button class="md-icon-button" ng-hide="isAuthenticated" ng-href="auth/login" aria-label="Login">
          <md-icon md-svg-icon="login" ></md-icon>
        </md-button>

        <md-button aria-label="edit current user profile" ng-href="auth/account/{{currentUser.id}}/edit" ng-show="isAuthenticated">{{currentUser.user_login}}</md-button>

        <md-button class="md-icon-button" ng-show="isAuthenticated" ng-click="logout()" aria-label="Logout">
          <md-icon md-svg-icon="logout" ></md-icon>
        </md-button>
      </div>

    </md-toolbar>

    <md-content flex >
      <div ng-view ></div>
    </md-content>

  </div>
</body>
</html>
