<div class="form-group">
  <md-input-container class="md-block" flex-gt-sm>
    <label>Название</label>
    <input type="text" ng-model="evento.name">
  </md-input-container>
</div>
<div>
  <md-input-container class="md-block" flex-gt-sm>
    <label>Участники</label>
    <md-chips
      ng-model="evento.participants"
      placeholder="Введите имя участника"
      delete-button-label="Удалить участника"
      delete-hint="Нажмите удалить"
      secondary-placeholder="+Участник"
      md-transform-chip="newParticipant($chip)"
      md-separator-keys="separatorKeys"
      >
        <md-chip-template>
          <strong>{{$chip.name}}</strong>
        </md-chip-template>
      </md-chips>
  </md-input-container>
  <md-input-container class="md-block" flex-gt-sm>
    <label>Доступ</label>
    <md-select multiple ng-model="evento.accessAccounts" ng-model-options="{trackBy: '$value.id'}" placeholder="Дать доступ">
      <md-option ng-repeat="a in accounts" ng-value="a">{{a.user_login}}</md-option>
    </md-select>
  </md-input-container>

  <div layout-gt-sm="row">
    <md-input-container class="md-block" flex-gt-sm>
      <label>Приглашение</label>
      <input type="text" ng-model="inviteHash">
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="invateUser()">
      <span>Пригласить</span>
    </md-button>
  </div>
  <div>
    <md-button ng-show="evento.id" class="md-primary md-raised" ng-click="navigateTo('/events/'+evento.id+'/link-participants')">
      Привязка участников к пользователям
    </md-button>
  </div>
</div>

<div layout-gt-sm="row">
  <md-button type="submit" aria-label="Save" class="md-primary">Сохранить</md-button>
  <md-button class="md-primary" aria-label="Cancel" ng-href="events">Назад</md-button>
</div>
