<md-content layout-padding>
	<h1>Связать пользователя с участником</h1>
	<form class="form-horizontal" role="form" ng-submit="editEvento()">
    <md-table-container hide-xs>
      <table md-table ng-model="selected" md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="onReorder">
          <tr md-row>
            <th md-column>Участник</th>
            <th md-column>Пользователь</th>
            <th md-column></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="participant in evento.participants">
            <td md-cell>{{participant.name}}</td>
            <td md-cell>
              <md-select ng-model="participant.linkedAccount"
                          ng-model-options="{trackBy: '$value.id'}"
                          placeholder="Присоединить"
                          md-on-close="updateAvailableAccounts()">
                <md-option ng-repeat="a in getAviableAccounts(participant)" ng-value="a">{{a.user_login}}</md-option>
              </md-select>
            </td>
            <td md-cell>
              <md-button class="md-icon-button" ng-click="removeLink(participant)" ng-show="participant.linkedAccount" aria-label="Copy">
                <md-icon md-svg-icon="clear"/>
                <md-tooltip>
                  Удалить
                </md-tooltip>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>

    <div layout-gt-sm="row">
      <md-button type="submit" aria-label="Save" class="md-primary">Сохранить</md-button>
      <md-button class="md-primary" aria-label="Cancel" ng-href="events/{{evento.id}}/edit">Назад</md-button>
    </div>
	</form>
</md-content>
