<div layout-padding>
  <h3>События</h3>  
</div>
<md-list layout-margin>
  <md-list-item md-whiteframe="4" ng-repeat="evento in eventos" ng-click="navigateToEvento(evento)" >
    <div flex class="truncated-text">
      {{evento.name}}
    </div>
    <div flex="10">
      <md-button  ng-click="navigateToEditEvento(evento)" aria-label="Edit event"  class="md-icon-button">
        <md-icon ng-md-icon md-svg-icon="edit_item" aria-label="Edit event"/>
        <md-tooltip>
          Редактировать событие
        </md-tooltip>
      </md-button>
    </div>
    <div flex="20" flex-gt-xs="15" flex-gt-sm="10">
      <md-button  ng-click="confirmDelete($event, evento)" ng-show="canDelete" class="md-icon-button" aria-label="Delete event">
        <md-icon ng-md-icon md-svg-icon="delete_item" aria-label="Delete event"/>
        <md-tooltip>
          Удалить событие
        </md-tooltip>
      </md-button>    
    </div>
  </md-list-item>
</md-list>

<div class="md-toolbar-tools">
  <span flex></span>
  <md-button class="md-fab md-primary" aria-label="Add event" ng-href="events/new">
    <md-icon md-svg-icon="add_item24">
    <md-tooltip md-direction="left">
      Добавить событие
    </md-tooltip>
  </md-button>
</div>