<div layout-padding>
	<h3>Событие {{evento.name}}</h3>
</div>
<md-tabs md-dynamic-height md-border-bottom>
	<md-tab label="Расчеты">
		<md-content class="md-padding">
			<summary-balance data-event-id="{{evento.id}}"></summary-balance>
		</md-content>
	</md-tab>
	<md-tab label="Покупки">
		<md-content class="md-padding">
			<purchase-table data-event-id="{{evento.id}}"></purchase-table>
		</md-content>
	</md-tab>
	<md-tab label="Переводы">
		<md-content class="md-padding">
			<transfers-table data-event-id="{{evento.id}}"></transfers-table>
		</md-content>
	</md-tab>
</md-tabs>