<md-list>
  <md-list-item ng-repeat="row in balanceRows">
    <div layout="column"></div>
      <p flex>
        {{row.participant.name}}
      </p>
      <p flex>
        {{row.amount | number:2}}
      </p>
      <p flex>
        <md-button class="md-icon-button md-primary" aria-label="Settings" ng-href="events/{{eventId}}/balance/{{row.participant.id}}">
          <md-tooltip>
            Детализация расчетов для {{row.participant.name}}
          </md-tooltip>
          <md-icon md-svg-icon="assignment"></md-icon>
        </md-button>
      </p>
      
  </md-list-item>
</md-list>
<md-button class="md-primary md-raised" aria-label="Cancel" ng-href="events/{{eventId}}/balance">
  Детализация расчетов
</md-button>