<md-content layout-padding>
  <h3>Расчеты участника события {{evento.name}}</h3>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Участник</label>
    <md-select ng-model="target_participant" ng-model-options="{trackBy: '$value.id'}" placeholder="Участник">
      <md-option ng-repeat="participant in evento.participants" ng-value="participant" md-on-close="changeTargetParticipant()">{{participant.name}}</md-option>
    </md-select>
  </md-input-container>

  <md-list layout-margin>
    <md-subheader class="md-no-sticky">Детализация</md-subheader>
    <md-list-item ng-repeat="record in calculation.records" md-whiteframe="4">
      <p flex="50">{{record.description}}</p>
      <p flex="30">{{record.initiator.name}}</p>
      <p flex="20">{{record.amount | number:2}}</p>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Итого</md-subheader>
    <md-list-item>
      <p flex="50"></p>
      <p flex="30"></p>
      <p flex="20">{{calculation.totalBalance | number:2}}</p>
    </md-list-item>
  </md-list>
</md-content>